# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb+srv://certificate:123456@A12@cluster0.46tjpbg.mongodb.net/?appName=Cluster0

# JWT
JWT_SECRET=first
JWT_EXPIRE=7d

# Cloudinary
CLOUDINARY_CLOUD_NAME=dhev7ggty
CLOUDINARY_API_KEY=924368984594681
CLOUDINARY_API_SECRET=on0K8t0vsxwQaUgApk-L0DkL8y0

# Client URL (for CORS)
CLIENT_URL=http://localhost:5173
